name: Python CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
        
      - name: Print environment info
        env:
         APP_NAME: "github-actions-python-ci"
        run: |
          echo "App: $APP_NAME"
          python --version
          pip --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # If requirements.txt exists, install it; otherwise just install pytest
          #if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -q
      
      